body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
input, button {
    padding: 10px;
    margin: 5px;
}